$base-color: #7116db;

.fullContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
.leftPainel {
  flex: 1;
  width: 80%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.setDelayBox {
  width: 500px;
  height: 200px;
  position: sticky;
  top: 50px;
  background-color: #ddd;
  color: $base-color;
  border: 1px dashed $base-color;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delayInfo {
  width: 100%;
  align-self: baseline;
}

.buttonOptionsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}

.buttonOptions {
  width: 90px;
  height: 21px;
  background-color: #ccc;
  color: $base-color;
  border-radius: 10px;
  border: 1px solid $base-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.buttonOptions.optionSeleted {
  background-color: $base-color;
  color: #fff;
}

.buttonOptions:hover {
  background-color: $base-color;
  color: #fff;
}

.buttonsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.buttom {
  width: 80px;
  height: 30px;
  border: 1px solid $base-color;
  border-radius: 5px;
  background-color: lighten($base-color, 15%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mainContainer {
  width: 350px;
  box-sizing: border-box;
  background-color: $base-color;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}
.subContainer {
}

.generalContainer {
  width: 300px;
  height: 50px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.itemTimelineBox {
  width: 100%;
  position: relative;
}

.noLine {
  border-left: 1px solid $base-color;
}

.clickArea {
  position: absolute;
  left: -8.52px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  background-color: $base-color;
}

.clickArea.done {
  background-color: white;
}

.clickArea.willSetDelay {
  background-color: white;
  cursor: pointer;
}

.clickArea.done.willSetDelay {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #b37df1;
  cursor: auto;
}

.clickArea.selectable {
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.clickArea.selectable:hover {
  background-color: white;
  border-color: $base-color;
}

.eventStageTitle {
  position: absolute;
  top: 1px;
  margin-left: 20px;
  width: 300px;
  padding: 0 0 0 5px;
  color: rgba(255, 255, 255, 0.4);
}

.eventStageTitle.notDone.willSetDelay,
.eventStageTitle.inProgress.willSetDelay {
  color: white;
  cursor: pointer;
}

.eventStageTitle.done {
  color: white;
}

.eventStageTitle.done.willSetDelay {
  color: rgba(255, 255, 255, 0.4);
  cursor: auto;
}

.eventStageTitle.selectable {
  cursor: pointer;
}
.eventStageTitle.selectable:hover ~ .clickArea.selectable {
  background-color: white;
  border-color: $base-color;
}

.itemTitleAndTag {
  position: absolute;
  left: -8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  background-color: $base-color;
  border-radius: 15px;
  padding: 2px 10px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemTitleAndTag.itemDelay {
  background-color: rgb(247, 97, 43);
  color: white;
}

.itemTitleAndTag.itemDelayDone {
  background-color: rgb(11, 180, 95);
  color: white;
}

.itemTitleAndTag.done,
.mainTitle {
  background-color: white;
  color: $base-color;
  font-weight: 700;
}

.pulse,
.pulseTag {
  position: absolute;
  left: -5px;
  top: 26px;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
}
.pulseTag {
  top: 30px;
}

.checkImage {
  fill: lighten(black, 15%);
  width: 20px;
  height: 25px;
  z-index: 1000;
  left: -7px;
  top: -2px;
  position: absolute;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
